/*
 * Empty Stylesheet file.
 */

.root{
    -fx-background-color: #3B2A5E;
}

.boton_menu {
    -fx-background-color: #F87BF0; /*Fondo rosa fuerte*/
    -fx-text-fill: #2c1459; /*Texto morado oscuro*/
    -fx-font-size: 10px; /*Tamaño del texto*/
    -fx-font-weight: bold; /*Texto en negrita*/
    /*-fx-background-radius: 20; /*Bordes redondeados*/
    -fx-effect: dropshadow(gaussian, #00000099, 5, 0.5, 0, 2); /*Sombra suave*/
    /*dropshadow(gaussian, color, radius, spread, offsetX, offsetY)*/
}

.boton_menu:hover {
    -fx-background-color: #00ffd5;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.barra_busqueda {
    -fx-background-color: #A0F87B;
    -fx-effect: dropshadow(gaussian, #00000099, 5, 0.5, 0, 2); /*Sombra suave*/
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: #3B2A5E; /* Fondo del área visible */
}

.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-background-color: #6A1B9A; /* Fondo de las barras */
    -fx-padding: 0;
}

.scroll-bar .thumb {
    -fx-background-color: #D1C4E9; /* "Thumb", el botón que se arrastra */
    -fx-background-insets: 2;
    -fx-background-radius: 8;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: #AB47BC; /* Botones con flechas */
    -fx-font-size: 13px;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: white;
}

.mi-vbox {
    -fx-border-color: #F87BF0;         /* Color del borde */
    -fx-border-width: 2px;             /* Grosor del borde */
    -fx-padding: 10px;                 /* Espacio interno entre el contenido y el borde */
}

.ImageView:hover{
    -fx-opacity: 0.7; /* Más transparente al pasar el cursor */
    -fx-effect: innershadow(gaussian, gray, 10, 0.5, 0, 0); /* Efecto gris leve */
    -fx-cursor: hand;
}